# Puerto del servidor HTTP
PORT=3000

# Entorno de ejecución: development | production | test
NODE_ENV=development

# Cadena de conexión de MongoDB (no subir credenciales reales al repo)
MONGO_URI=mongodb+srv://wilyca19_db_user:FjBWBAMuipqK5sIc@cluster0.xxxxx.mongodb.net/
# Nombre de la base de datos
MONGO_DB_NAME=collaborate
